.form{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.registerButton{
    width: 30%;
    height: 50px;
    margin: 14px;
    background: #ade262;
    border-radius: 25px;
}