@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
  background-color: #282c34;
}

.header{
  background-color: #282c34;
}

.container {
  height: 100vh;
  background-color: #282c34;
  max-width: 360px;   

}

.deleteButton{
  margin-left: -200px;
  height: 30px;
  width: 30%;
  background: #282c34;
  color: #ade262;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.trocarButton{
  margin-left: 200px;
  height: 30px;
  width: 30%;
  background: #282c34;
  color: #ade262;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: -39px;
}

.botaoDosAcertos{
  margin-left: -200px;
  height: 30px;
  width: 30%;
  background: #282c34;
  color: #ade262;
  border-radius: 25px;
  margin: 20px;
}

.sendButton{
  height: 30px;
  width: 20%;
  background: #282c34;
  color: #ade262;
  border-radius: 25px;
  margin-bottom: 10px;
}

.campoDaCartaQueTemUmNgcEscrito{ //vai quebra a porra toda
  text-align: center;
}

.textQeA{
  margin-bottom: 120px;
  font-size: x-large;
  font-weight: bold;
}

.caixaDeTexto{
  justify-content: center;
  margin-bottom: 100px;
}

.titulo{
  display: flex;
  margin-left: 35px;
  color:white;
  text-align:center;
  font-size: x-large;
  font-weight: bold;
  
}

.botaoCard{
  height: 30px;
  width: 20%;
  margin: 10px;
  background: #282c34;
  color: #ade262;
  border-radius: 25px;
}

.botaoCard2{
  height: 30px;
  width: 20%;
  margin: 10px;
  background: #282c34;
  color: #ade262;
  border-radius: 25px;
}



.card-text{
  text-size-adjust: 10px;
  position: sticky;
}

.flip-card-outer {
  width: 300px;
  height: 400px;


  &.focus-trigger:focus {
    outline: 5px solid rgb(93, 97, 87);
    outline-offset: 5px;
  }

  .teste{
    margin-left: 1000px;
  }

  .flip-card-inner {
    transform-style: preserve-3d;
    transition: .5s linear .1s;
    position: relative;
    width: inherit;
    height: inherit;

    
    &.hover-trigger:hover {
      transform: rotateY(180deg);
    }

    &.showBack {
      transform: rotateY(180deg);
    }
  
    .card {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-content: center;
  
      &.front {
        transform: rotateY(0);
        background-color: #ade262;
        color: #282c34;
        justify-content: center;
        align-items: center;
        margin-top: -10px;
      }
  
      &.back {
        transform: rotateY(180deg);
        background-color: #ade262;
        color: #282c34;
        justify-content: center;
        align-items: center;
      }
    }
  }
}